
body{
    font-family: system-ui, "Open Sans", "Noto Sans JP", serif;
    /* font-weight: weight; */
    font-style: normal;
    color: #000;
    background-color: #FFFBF2;
    margin: 0%;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #000000;
    /* background-color: #FFFBF3; */
    background-color: #ffffff;
    color: #000;
    transition: color 0.3s;
}
button.active {
    background-color: #000000;
    /* color: #FFFBF3; */
    color: #ffffff;
}


/* トップページ */
#top{
    /* background-color: #a9e1ff; */
    margin:0%;
    background-image: url("TopPage1.png");
    background-size: cover;
    /* background-color: yellow; */
    /* margin-left:50px;
    margin-right: 50px; */
    height: 99vh;
    /* position: relative; */
}
.header{
    z-index: 333;
    background-color: #EAE2D5;
    height:7vh;
    width:100%;
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    list-style-type: none;
    /* display: inline-block; */
    padding: 26px 10px 20px 10px;
    float: left;
}



#menu{
    /* background-color: #056d21; */
    /* position: absolute;
    right:100px; */
    z-index: 333;
    height:98%;
    margin-left:70%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px; */
}

#menu a{
    text-align: center;
    text-decoration: none;
    position: relative;
    color:black;
    /* line-height: 40px; */
    letter-spacing: 0.12em;
    margin-top:50%;
}

#menu a::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #000000;
    bottom: -1px;       
    visibility: hidden; 
}

#menu a:hover::after {
    visibility: visible;
}


#makingBtn{
    background-color: #EAE2D5;
    /* background-color: #ffffff; */
    letter-spacing: 0.12em;
    padding: 0.4em 1.6em;
    font-size: 400;
    font-weight: 400;
    color: #000000;
    user-select: none;
    border: 1.5px #000000 solid;
    height:40px;
    border-radius: 20px;
    position:relative;
    /* top:2%;
    right: 1%; */
    /* margin-top: 1px; */
}
#makingBtn:hover {
    color: #EAE2D5;
    /* color: #ffffff; */
    background: #000000;
}



.title{
    /* background-color: navy; */
    /* z-index: 999; */
    width: 100%;
    height: 50%;
    padding-top: 100px;
    padding-left: 20px;
    position: relative;
    /* font-size: 800px; */
}

.title p{
    margin-top: 5%;
    font-size: 100px;
    line-height: 30px;
    font-weight: 500;
    margin-left:5%;
    letter-spacing: 0.12em;
}

#contents{
    /* background-color: #056d21; */
    width: 80%;
    margin:10%;
    letter-spacing: 0.11em;
    text-align: left;
}

#contents h1{
    /* background-color: yellow; */
    margin:10% 10% 0% 10%;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 0.12em;
    border-bottom: solid 2px black;
}

#contents h2{
    /* background-color: #ececec; */
    margin:2% 0% 0% 2%;
    font-size:20px;
    font-weight: 400;
    letter-spacing: 0.12em;
    text-align: left;
}
/* #contents h3{
    background-color: purple;
    font-size:20px;
    font-weight: 600;
} */

.container{
    /* background-color: red; */
    margin:2% 15% 0% 15%;
}
.howItem-container{
    /* background-color: rgb(97, 112, 241); */
    margin:2% 5% 0% 5%;
    
}

.howItem{
    /* background-color: #fff; */
    margin:0% 3% 6% 3%;
    letter-spacing: 0.11em;
}

footer{
    height: 250px;
    background-color: #EBE3D6;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 150px; */
}

footer p{
    letter-spacing: 0.13em;
    color:rgb(92, 90, 90);
    text-align: center;
    margin:1%
    /* display: flex;
    justify-content: center;
    align-items: center; */
}


/* .aiu{
    background-color: #FF5C3B;
} */

/* button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #000000;
    background-color: #ffffff;
    color: #000;
    transition: color 0.3s;
}
button.active {
    background-color: #000000;
    color: #ffffff;
} */






/* making画面 */
/* .canvas{
    position: absolute;
} */

header{
    /* background-color: #ffffff; */
    margin-left: 1%;
    height: 5vh;
    font-size: large;
}

header h1{
    font-weight: 500;
    letter-spacing: 0.12em;
}
.making-page{
    display: flex;
    height: 90vh;
    background-color: #FFFAF2;
    display: flex;
    justify-content: center;
    align-items: center;
    /* letter-spacing: 0.11em; */
}
#canvas-container {
    width: 700px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #ffffff; */
    border-style: solid;
    border-width: 2px;
    border-color: #333333;
    
}

#making-container{
    /* background-color: #fe8e8e; */
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;   
    font-weight: 500;
    
}

.item{
    width:95%;
    /* background-color: #EEFF60; */
    text-align: center;    
}
.item p{
    font-size: large;
    text-align: left; 
    margin-left: 2%;

}

.slider {
    appearance: none;
    width: 200px;
    height: 12px;
    border: 1px solid #000;
    border-radius: 9999px;
    background: linear-gradient(90deg, #000 25%, #ffffff 25%);
    cursor: pointer;
    margin-top: 10px;
    margin-right: 20px;
}

  /* ツマミ：Chrome, Safari, Edge用 */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border: 1px solid #000;
    border-radius: 9999px;
    background: #fff;
    box-shadow: none;
}

  /* ツマミ：Firefox用 */
.slider::-moz-range-thumb {
    width: 24px;
    height: 24px;
    border: 1px solid #000;
    border-radius: 9999px;
    background: #fff;
    box-shadow: none;
}


/* result.html 画面*/
#resultPage{
    /* background-color: #FFFBF2; */
    background-color:  #FFFBF2;
    width: 90%;
    height: 90%;
    display: none;
    position: absolute; /* ウィンドウの上に固定 */
    top: 5%;
    left: 5%;
    z-index: 1000; /* 他の要素の上に表示 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    border-radius: 10px; /* オプション: 角を丸める */
    
}

.amizuCanvas{
/* border: 1px solid #ffffff; */
background-color:  #FFFBF2;
/* background-color:  #352c18; */
position: absolute;

left: 3%;
}

.button{
    /* background-color: #FFFBF3; */
    background-color: #ffffff;
    padding: 0.4em 1.6em;
    font-size: 1em;
    font-weight: 570;
    color: #000;
    /* user-select: none; */
    border: 1px #000 solid;
    /* border-radius: 10px; */
    margin-top: 10px;
}
.button:hover {
    /* color: #FFFBF3; */
    color: #ffffff;
    background: #000;
}

#saveBtn{
    position: absolute;
    bottom: 3%;
    right:3%;
}

.tojiru{
    position: absolute;
    top:2%;
    right:2%;
    font-size: 30px;
    text-align: center;
}

.tojiru:hover{
    background-color: #ececec;
}
/* .canvas{
    background-color: #e5ff00;
} */
